<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
      <img src="./assets/6.jpg" style="width:100%">
      <div class="text">B&C Burger</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 5</div>
      <img src="./assets/7.jpg" style="width:100%">
      <div class="text">Honey Honey</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 5</div>
      <img src="./assets/9.jpg" style="width:100%">
      <div class="text">Тюбетейка</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 5</div>
        <img src="./assets/10.jpg" style="width:100%">
        <div class="text">Bona Coffee</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 5</div>
        <img src="./assets/11.jpg" style="width:100%">
        <div class="text">Monti</div>
      </div>

  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" click="currentSlide(1)"></span> 
    <span class="dot" click="currentSlide(2)"></span> 
    <span class="dot" click="currentSlide(3)"></span> 
  </div>
