<body>
  <img src="./assets/6.png" width="100px">
  <h1>AsBolsyn</h1>
<div class="cuisine">
  <div>
    <table>
        <tr class="types">
          <td>
             <input  class="typess" type="submit" value="Korean">
          </td>
          <td>
              <input  type="submit" class="typess" value="Chineese">
          </td>
          <td>
              <input type="submit"  class="typess" value="Kazakh">
          </td>

        </tr>

        <tr>
            <td>
                <input  type="submit" class="typess" value="Russian">
            </td>
          <td>
            <input type="submit"  class="typess" value="French">
          </td>
          <td>
              <input type="submit"  class="typess" value="Vegeterian">
          </td>
        </tr>
    </table>
  </div>
</div>
</body>
