body{
    background-image: src="./assets/2.jpg";
    width: 100%;
    height: 100%;
}
.cuisine{
    margin-top: 50px;
    margin-left: 200px;
}
.types{
    height: 100px;
    width: 100px;
    padding: 40px;
    margin-left: 20px;
}
.typess{
    border-radius: 12px;
    background-color: #F7DC6F;
    color: black;
    margin-left: 40px;
    margin-top: 20px;
    height: 70px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
}