<body>

<div class="main1">
  <nav>
    <ul class="nav-tabs">
      <li class="nav-item" *ngFor='let item of items'>
        <a href={{item.link}} class="nav-link active">{{item.title}}</a>
      </li>
    </ul>
  </nav>
</div>

<div class="sign">
    <div class="sign_button">
      <a href="#">Sign up</a>
    </div>
    <div class="sign_button">
        <a href="/login">Log in</a>
    </div>
</div>


<div class="main2">
<div class="image">
  <img src="assets/66.jpg" alt="logo" width="150px">
</div>

<link href="https://fonts.googleapis.com/css?family=Gugi|Teko" rel="stylesheet">
<h1>As-Bolsyn</h1>
<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
</div>
  
</body>