.info {
  height: 550px;
  width: 42%;
  margin-left: 7%;
  position: relative;
  float: left;
}

.reviews {
  height: 550px;
  max-height: 800px;
  background-color: whitesmoke;
}
h2 {
  font-size: 32px;
}

#head2 {
  font-family: 'Courier New', Courier, monospace
}

#write {
  width: 85%;
  height: 12%;
  font-size: 16px;
}

.menu {
	background-color: red;
  position: absolute;
  width: 85px;
  height: 40px;
  margin-left: 55%;
  color: white;
  border-radius: 7px;
}

.menu a {
  color: white;
  font-size: 23px;
  text-align: center;
}

.menu a:hover {
  color: black;
}
