<div class="info">
  <h2>{{restaurant.name}}</h2>
  <img id="image" src={{restaurant.image_url}} alt="image">

  <div class="menu">
    <a href="/menu">Menu</a>
  </div>

  <div class="more">
    <table>

      <tr>
        <td><h3>Address:</h3></td>
        <td>{{restaurant.address}}</td>
      </tr>
      <tr>
        <td><h3>Contacts:</h3></td>
        <td>{{restaurant.contact}}</td>
      </tr>
      <tr>
        <td><h3>Average price:</h3></td>
        <td>{{restaurant.avg_cost}}</td>
      </tr>

    </table>
  </div>




<h2 id="head2">Reviews</h2>


  <div *ngIf="isLogged">
    <textarea name="" id="write" cols="250" rows="6" [(ngModel)]="text"></textarea>
    <button (click)="sendReview()">Send</button>
  </div>

  <div class="content" *ngFor="let review of reviews">
    <div class="review">
      <h5>{{review.user.first_name}}</h5>
      <p>{{review.text}}</p>
    </div>
  </div>
</div>
